/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/* stylelint-enable */

@font-face {
  font-family: "LCD14";
  font-weight: normal;
  font-style: normal;
  src: local("../fonts/lcd-font-otf/LCD14.otf"),
    url("../fonts/lcd-font-otf/LCD14.otf") format("opentype");
  font-display: swap;
}
